.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0.03rem rgba(13, 110, 253, .25);
}

/* Style par défaut pour la première lettre */
.nav-link .first-letter {
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
    color: inherit;
}

/* Style pour la première lettre lorsque le lien est actif */
.nav-link.active .first-letter {
    background-color: #FFB646; /* Couleur de fond orange */
    color: #FFF; /* Couleur du texte en blanc */
    border-radius: 50%;
    width: 17px;
    height: 17px;
}
